<index:>
  <div class="container">
    <h2>Mapping (Admin - sync - mapping)</h2>
    <form role="form" class="well" on-submit="done()">
      <div class="row">
        <div class="col-xs-12">
          <field label="Module">
            <dropdown value="" options="{{#root.sync.modules}}"></dropdown>
            <!-- This static version works :
            <dropdown value="" options="{{[
                {content: 'Collection'}
              , {content: 'Artist'}
              , {content: 'Zouze'}
              ]}}">
            </dropdown>-->
          </field>
          <field label="Field" has-error="">
            <dropdown value="{{#root.sync.fields}}" options="{{[
                {value: 1, content: 'Collection'}
              , {value: 2, content: 'Artist'}
              , {value: 3, content: 'Zouze'}
              ]}}">
            </dropdown>
          </field>
          <field label="Filter">
            <textarea class="form-control">?</textarea>
          </field>
          <field label="Preview" has-error="">
            <textarea class="form-control" readonly>{{#root.sync.log}}</textarea>
          </field>
        </div>
      </div>
    </form>
  </div>

  <field: element="field">
    <div class="form-group{{if @hasError}} has-error{{/if}}">
      <label class="control-label">{{@label}}</label>
      {{@content}}
    </div>
