@{meta('title', 'description', 'keywords')}

<!-- /app/css/ -->
@{ngStyle('app')}

<!-- cdnjs -->
@{ngLocale('en-us')}

<!-- /app/controllers/ -->
@{ngController('home', 'user')}

<div ng-controller="HomeCtrl">
  <h1>{{ name }}</h1>
  Filter result : <input type="text" ng-model="searchText">
  <h2>Bootstrap enabled here!</h1>
	<br />
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="user in users | filter:searchText">
            {{ user.name}}
        </li>
	</ul>
</div>

@{ngTemplate('list')}
