@{meta('title', 'description', 'keywords')}

<!-- /app/css/ -->
@{ngStyle('app')}

<!-- cdnjs -->
@{ngLocale('en-us')}

<!-- /app/controllers/ -->
@{ngController('home', 'user')}

<div ng-controller="HomeCtrl">
  <h1>Home</h1>
  <h2>Bootstrap enabled here!</h1>
  <h3>{{ name }}</h3>
  <p>
  	Live filter : <input type="text" ng-model="searchText" autofocus="true"> <br />
  </p>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="user in users | filter:searchText">
        	{{ user.name }}
    	</li>
	</ul>
</div>

@{ngTemplate('list')}
