<index:>
  <div class="container">
    
  <h2>Config</h2>

    <form role="form" class="well" on-submit="done()">
      <div class="row">
        <div class="col-xs-12">
          <field label="Source" has-error="{{nameError}}">
            <input type="text" class="form-control" as="nameInput" value="{{config.URL}}" autofocus="1">
          </field>
          <field label="Username">
            <input type="text" class="form-control" value="{{config.username}}">
          </field>
          <field label="Password">
            <input type="text" class="form-control" value="{{config.password}}">
          </field>
          <field label="Synchronize">
            <dropdown value="{{config.synchronize}}">
              <option>Manual</option>
              <option>Every day (in construction)</option>
              <option>Every week (in construction)</option>
              <option>Live! (in construction)</option>
            </dropdown>
          </field>
        </div>

      </div>

      <button type="submit" class="btn btn-primary">
        Save
      </button>
      <button type="button" class="btn btn-link" on-click="cancel()">
        Cancel
      </button>
    </form>

  <field: element="field">
    <div class="form-group{{if @hasError}} has-error{{/if}}">
      <label class="control-label">{{@label}}</label>
      {{@content}}
    </div>