<index:>
  <div class="jumbotron">
    <div class="container">
      <h1>mpProxy</h1>
      <p>MuseumPlus Proxy allow to get data from MuseumPlus RIA directly
        via it's API. Amazing, isn't it? Check the configuraion options and
        go for it!
      </p>
      <p>
        <a class="btn btn-lg btn-primary" href="/people/new" role="button">
          Add somebody &raquo;
        </a>
      </p>
      <p>
        Oh, by the way, everything done in this app is pushed <strong>live</strong> to all the web clients!
      </p>
      <p>
        It's actually the evolution of eMuseumPlus and MuseumPlus RIA.
      </p>
    </div>
  </div>
