<index:>
  <div class="container">
    <h2>Mapping</h2>
    <form role="form" class="well" on-submit="done()">
      <div class="row">
        <div class="col-xs-12">
          <field label="Module">
            <dropdown value="{{#root.admin.synchronize}}" options="{{[
                {content: 'Collection'}
              , {content: 'Artist'}
              , {content: 'Zouze'}
              ]}}">
            </dropdown>
          </field>
          <field label="Field" has-error="">
            <input type="text" class="form-control" value="?">
          </field>
          <field label="Filter">
            <textarea class="form-control">?</textarea>
          </field>
          <field label="Preview" has-error="">
            <textarea class="form-control" readonly>{{#root.admin.log}}</textarea>
          </field>
        </div>
      </div>
    </form>
  </div>

  <field: element="field">
    <div class="form-group{{if @hasError}} has-error{{/if}}">
      <label class="control-label">{{@label}}</label>
      {{@content}}
    </div>
